---
layout: colloqtemplate
---
<!-- _layouts/talkpage.html -->
<!-- this formats the page that individual talks appear on -->
{%- assign year = page.date | date: "%Y" -%}
{%- assign tags = page.tags | join: "" -%}
{%- assign categories = page.categories | join: "" -%}

{% if page._styles %}
<!-- Page/Post style -->
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta"> Title: {{page.description}} </p>
    <p class="post-meta"> Location: {{page.location}} at {{page.talktime}} </p>
  </header> 
  <div class="row">
    <div class="col-sm mt-3 mt-md-0">
        {% include figure.html path="assets/img/elgindi.jpeg" title="Speaker image" class="img-fluid rounded z-depth-1" %}
        <!--of course, need to make this modular... -->
    </div>
</div>

  <article class="post-content">
   <div id="markdown-content">
      Abstract: {{ page.abstract }}
    </div>
  </article>

</div>
